.body {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

                              /* VISUALLY-HIDDEN (то, что скрыто)*/
.visually-hidden {
  display:none;
}

                              /* CENTER-CONTAINER (центровщик) */

.center-container {
    width: 940px;

    margin-left: auto;
    margin-right: auto;
}

                              /* SECTION-HEAD (заголовки разделов)*/
.section__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 940px;
    min-height: 89px;

    background-color: #f9f5f0;

    margin-top: 21px;
    margin-bottom: 20px;
}

.section__head-title {
    max-width: 620px;

    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    margin-left: 30px;
}

.section__head-btn {
    display: block;

    width: 253px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 3px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 24px;
}

.section__head-btn:hover,
.section__head-btn:focus {
    background-color: #ca2c37;
}

.section__head-btn:active {
    background-color: #ba2732;
}


                              /* HEADER */
.header {
    width: 100%;
    min-height: 320px;
    margin-bottom: 25px;
    background-color: #f4f7f9;
}

                              /* HEADER TOP LINE */
.header__top-wrap {
    width: 100%;
    min-height: 42px;
    background-color: #293449;
}

.header__top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 940px;
    min-height: 42px;
    background-color: #293449;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    width: 220px;
    height: 42px;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.header__logo img {
    width: 109px;
    height: 19px;

    margin-top: 13px;
    margin-right: 56px;;
    margin-bottom: 11px;
    margin-left: 55px;;
}

.header__logo:hover,
.header__logo:focus{
    background-color: #ca2c37;
}

.header__logo:active{
    background-color: #ba2732;
}

.header__search {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 270px;
    height: 42px;
}

.search__input {
    width: 221px;
    height: 42px;
    color: #ffffff;
    background-color: #293449;

    margin: 0;
    padding: 0;
    padding-left: 49px;
    border: none;
}

.search__button {
    background: none;
    border: none;
    padding: 0;
}

.search__icon {
    position: absolute;
    top: 12px;
    left: 17px;
    z-index: 100;

    display: block;
    width: 17px;
    height: 17px;

    cursor: pointer;

    fill: #6a7180;
}


/*цвет текста для placeholder'a в этом input*/
.search__input::-webkit-input-placeholder {
    color: #ffffff;
}

.search__input:-moz-placeholder {
    color: #ffffff;
}

.header__search:hover .search__icon {
    fill: #ffffff;
}

.search__input:hover {
    background-color: #212a3a;
}

.search__input:focus {
    color: #000000;
    background-color: #ffffff;
}

.search__input:focus ~ button .search__icon {
    fill: #ee3643;
}


.header__interface {
    display: flex;
    flex-direction: row;

    list-style: none;
    padding: 0;
    margin: 0;
}

.interface__content {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 150px;
    height: 42px;
}

.bookmark-icon {
    position: absolute;
    top: 12px;
    left: 17px;
    z-index: 100;

    display: block;

    width: 14px;
    height: 16px;

    fill: rgba(255,255,255,0.3);
}

.bookmark-btn {
    display: block;

    width: 105px;
    height: 22px;

    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 45px;

}

.cart-icon {
    position: absolute;
    top: 13px;
    left: 17px;
    z-index: 100;

    display: block;

    width: 15px;
    height: 15px;

    fill: rgba(255,255,255,0.3);
}

.cart-btn {
    display: block;

    width: 105px;
    height: 22px;

    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 45px;
}

.non-empty {
    background-color: #ee3643;
}

.interface__content:hover,
.interface__content:focus {
    background-color: #212a3a;
}

.interface__content:hover svg,
.interface__content:focus svg{
    fill: #ffffff;
}

.interface__content a:active {
    color: #999ca1;
    background-color: #161d29;
}

.interface__content:active svg {
    fill: rgba(255,255,255,0.5);
}

.order-btn {
    display: block;

    width: 150px;
    height: 22px;

    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;

    padding-top: 13px;
    padding-bottom: 13px;

    background-color: #63a63e;
}

.order-btn:hover,
.order-btn:focus {
    background-color: #5fbb2d;
}

.order-btn:active {
    color: #a2be93;
    background-color: #518534;
}

                              /* HEADER MIDDLE LINE */

.header__mid-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;


    max-width: 940px;
    min-height: 158px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 5px;

    background-color: #f1f5f7;
}

.header__txt {
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    margin: 0;
    margin-top: 46px;
    margin-left: 54px;
}

.header__contacts {
    margin-top: 46px;
}

.phone__content {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 264px;
    min-height: 39px;

    border: 3px solid #ffffff;
    margin-bottom: 10px;
}

.phone-icon {
    position: absolute;
    top: 10px;
    left: 13px;

    width: 19px;
    height: 19px;

    fill: #b7bfc8;
}

.header__tel {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: #ee3643;

    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 71px;

    margin: 0;
}

.header__geo {
    max-width: 264px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
    margin: 0;
}

.user-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 46px;
}

.user-navigation__content {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    min-width: 121px;
    height: 45px;

    background-color: #ffffff;

    margin-right: 10px;
}

.login-icon {
    position: absolute;
    top: 14px;
    left: 14px;

    width: 20px;
    height: 17px;

    fill: #c5c5c5;
}

.user-navigation a {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    background-color: #ffffff;
}

.login-link {
    display: block;
    min-width: 63px;
    min-height: 21px;

    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 48px;


}

.registration-link {
    display: block;

    min-width: 115px;
    min-height: 21px;

    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 25px;

}


.user-navigation a:hover,
.user-navigation a:focus {
    color: #ee3643;
}

.user-navigation a:active {
    color: #b2b2b2;
}

.user-navigation__content:hover .login-icon,
.user-navigation__content:focus .login-icon {
    fill: #32425c;
}

.user-navigation__content:active .login-icon {
    fill: #c5c5c5;
}

.visually-hidden {
    display: none;
}

.account-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 46px;
}

.account-top-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    max-width: 300px;
    min-height: 45px;

    background-color: #ffffff;

    margin-bottom: 10px;
}

.profile-content {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-icon {
    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 18px;

    fill: #c5c5c5;
}

.profile-link {
    display: block;

    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;

    width: 210px;
    min-height: 21px;

    padding-top: 12px;
    padding-bottom: 12px;

    padding-left: 47px;

}

.profile-link:active {
    color: #b2b2b2;
}

.profile-content:hover .user-icon,
.profile-content:focus .user-icon {
    fill: #32425c;
}

.profile-content:active .user-icon {
    fill: #c5c5c5;
}

.logout-icon {
    width: 21px;
    height: 17px;

    fill: #c5c5c5;

    margin-right: 10px;
}

.exit-link:hover .logout-icon,
.exit-link:focus .logout-icon {
    fill: #32425c;
}

.exit-link:active .logout-icon {
    fill: #c5c5c5;
}

.account-bottom-line {
    margin-left: 17px;
}

.account-bottom-line a {
    position: relative;

    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;

    margin-right: 32px;
}

.account-bottom-line a::before {
    position: absolute;
    top: 8px;
    left: -20px;

    content: "";

    width: 5px;
    height: 5px;

    border-radius: 5px;
    background-color: #32425c;
}

.account-bottom-line a:first-child::before {
    display: none;
}

.account-bottom-line a:hover,
.account-bottom-line a:focus {
    color: #ee3643;
}

.account-bottom-line a:active {
    color: #c5cad0;
}

                              /* HEADER BOTTOM LINE */

.header__navigation {
    width: 100%;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    max-width: 940px;
    min-height: 55px;

    background-color: #32425c;
    border-bottom: 5px solid #293449;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.site-navigation a {
    display: block;
    height: 17px;


    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;

    padding-top: 19px;
    padding-right: 30px;
    padding-bottom: 19px;
    padding-left: 30px;

}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #293449;
}

.site-navigation a:active {
    color: #a8abaf;
    background-color: #293449;
}

             /* ==================== INDEX ==================== */

                              /* MENU */
.container__menu {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    margin-right: 20px;
    margin-bottom: 20px;
}

.menu__item:nth-child(3n) {
    margin-right: 0;
}

.menu__block {
    position: relative;

    width: 300px;
    height: 123px;

    background-color: #ffbf47;
}

.menu__flag {
    position: absolute;
    top: 0;
    right: 0;

    width: 60px;
    height: 59px;

    overflow: hidden;
    z-index: 20;
}

.menu__title {
    font-family: 'Cuprum', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;

    margin:0;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 22px;
}

.menu__content {
    display: flex;
    flex-direction: row;
}

.menu__btn {
    display: block;

    width: 135px;
    height: 18px;

    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
}

.menu__btn:hover,
.menu__btn:focus {
    background-color: rgba(0,0,0,0.2);
}

.menu__btn:active {
    background-color: rgba(0,0,0,0.3);
}

.menu__content img {
    position: absolute;
    top: 31px;
    right: 23px;
}

.b--blue {
    background-color: #3bbce3;
}

.b--purple {
    background-color: #dc91d8;
}

.b--green {
    background-color: #8ed78f;
}

.menu__double-item {
    display: flex;
    flex-direction: column;

    margin-right: 0;
}

.menu__double-item div {
    margin-bottom: 20px;
}

.slider {
    position: relative;

    width: 620px;
    height: 266px;
}

.slider__list {
    list-style: none;

    padding: 0;
    margin: 0;
}

.slider__item {
    display: none;

    transition: 0.5s;
}

.slide__txt {
    position: absolute;
    top: 0;
    left: 0;

    width: 620px;
    height: 105px;

    background-color: rgba(0,0,0,0.1);
}

.slide__title {
    font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    margin-top: 27px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.slide__subtitle {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;

    margin: 0;
    margin-left: 25px;
}

.slider__item img {
    width: 620px;
    height: 266px;
}

.slider__arrow-left {
    display: none;

    background: none;
    border: none;
    padding: 0;
}

.slider__arrow-left::before {
    content: "";

    position: absolute;
    top: 120px;
    left: 25px;

    width: 25px;
    height: 25px;

    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;

    transform: rotate(45deg);

    cursor: pointer;
}

.slider__arrow-right {
    display: none;

    background: none;
    border: none;
    padding: 0;
}

.slider__arrow-right::after {
    content: "";

    position: absolute;
    top: 120px;
    right: 25px;

    width: 25px;
    height: 25px;

    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;

    transform: rotate(-45deg);

    cursor: pointer;
}

.slider__switchers {
    position: absolute;

    bottom: 37px;
    left: 295px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider__switchers label {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;

    border-radius: 50%;
    cursor: pointer;
}

.slider__switchers label::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 10px;
    height: 10px;

    margin-right: 10px;

    background: #ffffff;

    border-radius: 50%;
}

.slide-1:checked ~ .slider__list .slider__item:nth-child(1) {
    display: block;
}

.slide-2:checked ~ .slider__list .slider__item:nth-child(2) {
    display: block;
}

.slide-1:checked ~ .slider__switchers .slider__switch:nth-child(1)::before,
.slide-2:checked ~ .slider__switchers .slider__switch:nth-child(2)::before {
    content: "";

    position: absolute;

    top: 10px;
    left: 10px;

    z-index: 2;

    width: 6px;
    height: 6px;

    background-color: #ee3643;

    border-radius: 50%;
}

.slide-1:checked ~ .slider__control-next label:nth-child(2),
.slide-2:checked ~ .slider__control-next label:nth-child(1) {
    display: block;
}

.slide-1:checked ~ .slider__control-prev label:nth-child(2),
.slide-2:checked ~ .slider__control-prev label:nth-child(1) {
    display: block;
}

.slide__btn {
    position: absolute;
    left: 25px;
    bottom: 22px;

    display: block;
    width: 195px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 3px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.slide__btn:hover,
.slide__btn:focus {
    background-color: #ca2c37;
}

.slide__btn:active {
    background-color: #ba2732;
}

                              /* POPULAR ITEMS */
.popular-items__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;
    margin: 0;
}

.popular-items__item {
    position: relative;

    max-width: 218px;
    min-height: 316px;
    border: 1px solid #eaeaea;

    margin-right: 20px;
    margin-bottom: 20px;
}

.popular-items__item:nth-child(4n) {
    margin-right: 0;
}

.popular-items__item:hover {
    box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-items__item:hover .popular-items__btns {
    display: block;
}

.flag {
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 59px;

    overflow: hidden;
    z-index: 20;
}

.popular-items__btns {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 170px;
    background-color: #ffffff;
}

.buy,
.bookmark {
    display: block;
    text-align: center;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    margin-left: auto;
    margin-right: auto;
}

.buy {
    color: #eef4ec;

    width: 135px;
    height: 18px;

    background-color: #63a63e;
    border-bottom: 3px solid #367315;
    border-radius: 3px;

    margin-top: 45px;
    padding-top: 7px;
    padding-bottom: 7px;

}

.buy:hover,
.buy:focus {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
    border-bottom-color: #518534;
}

.bookmark {
    color: #32425c;

    width: 129px;
    height: 18px;

    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 3px;

    margin-top: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.bookmark:hover,
.bookmark:focus {
    border-color: #32425c;
}

.bookmark:active {
    color: #d0d2d6;
    border-color: #c1c6ce;
}

.popular-items__img {
    width: 218px;
    height: 170px;
}

.popular-items__img img {
    max-width: 100%;
}


.popular-items__item a {
    text-decoration: none;
}

.popular-items__title {
    font: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;

    margin: 0;
}

.popular-items__discount {
    font: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: line-through;
    color: #a9a9a9;

    min-height: 18px;

    margin-top: 18px;
    margin-bottom: 13px;
}

.popular-items__price {
    position: relative;

    font: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;;
    color: #ffffff;

    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;

    background-color: #ee3643;
    border-radius: 3px;
}

.popular-items__price::after {
    content: "";

    position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    border: 20px solid white;
    border-left-color: #ee3643;
}



                              /* POPULAR FABRICATORS */
.popular-fabricators__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;
    margin: 0;
}

.popular-fabricators__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 218px;
    min-height: 143px;

    text-align: center;

    border: 1px solid #ebebeb;

    margin-right: 20px;
    margin-bottom: 20px;
}

.popular-fabricators__item:nth-child(4n) {
    margin-right: 0;
}

.popular-fabricators__logo {
    display: block;

    width: 218px;
    height: 143px;
    line-height: 143px;
    text-align: center;
}

.popular-fabricators__logo img {
   vertical-align: middle;
}


.popular-fabricators__item:hover,
.popular-fabricators__item:focus {
    box-shadow: 0px 4px 10px 0px rgba(41,52,73,0.5);
}

.popular-fabricators__item:active {
    background-color: rgba(255,255,255,0.5);
}

                              /* SERVICES */
.services {
    width: 100%;
    min-height: 522px;
    background-color: #f4f8f9;
    margin-top: 65px;
    margin-bottom: 10px;
}

.services__title {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    padding-top: 68px;
    margin-bottom: 35px;
}

.services__txt {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    margin: 0;
    margin-bottom: 75px;
}

.services__wrap {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 940px;
}

.services__menu {
    position: absolute;
    top: 0;
    left: 0;

    list-style: none;
    padding: 0;
    margin: 0;

    z-index: 100;

    box-shadow: 10px 0px 7px 0px rgba(37, 37, 37, 0.25);
}

.services__item label {
    display: block;

    cursor: pointer;

    width: 220px;
    height: 30px;

    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;

    background-color: #32425c;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;

    border: 0;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.services__item label:hover,
.services__item label:focus {
    background-color: #293449;
}


.delivery__radio:checked ~ .services__menu .services__item:nth-child(1) label {
    color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}

.guarantee__radio:checked ~ .services__menu .services__item:nth-child(2) label {
    color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}

.credit__radio:checked ~ .services__menu .services__item:nth-child(3) label {
    color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}

.description-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-description {
    position: relative;

    display: none;

    max-width: 630px;
    min-height: 240px;

    padding-left: 70px;
    padding-bottom: 50px;

    margin-left: 240px;
}

.item-description__content {
    z-index: 10;
}

.item-description__title {
    font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;

    margin: 0;
    margin-bottom: 36px;
}

.item-description__txt {
    width: 380px;

    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    margin: 0;
}

.item-description img {
    position: absolute;
    top: 0;
    left: 250px;
}

.item-description:nth-child(2) img {
    position: absolute;
    top: 0;
    left: 300px;
}

.item-description__btn {
    display: block;

    width: 195px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 3px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}

.item-description__btn:hover,
.item-description__btn:focus {
    background-color: #ca2c37;
}

.item-description__btn:active {
    background-color: #ba2732;
}


.delivery__radio:checked ~ .description-list .item-description:nth-child(1) {
    display: flex;
}

.guarantee__radio:checked ~ .description-list .item-description:nth-child(2) {
    display: flex;
}

.credit__radio:checked ~ .description-list .item-description:nth-child(3) {
    display: flex;
}



                              /* INFO & CONTACTS */
.main__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 940px;


    background-color: #ffffff;

    margin-bottom: 86px;
}

.info {
    max-width: 620px;
}


.info__title {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.info__txt {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.info__transport-companies {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info__transport-companies li {
    margin-bottom: 30px;
}

.info__transport-companies a {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.transport-companies__items img {
    margin-right: 11px;
    margin-bottom: 5px;
}

.info__btn {
    display: block;
    width: 220px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #ee3643;
    border-radius: 3px;
}

.info__btn:hover,
.info__btn:focus {
    background-color: #ca2c37;
}

.info__btn:active {
    background-color: #ba2732;
}

.contacts {
    max-width: 300px;
}

.contacts__title {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.contacts__txt {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.contacts img {
    margin-bottom: 40px;
}

.contacts__btn {
    display: block;
    width: 300px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;


    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #ee3643;
    border-radius: 3px;
}

.contacts__btn:hover,
.contacts__btn:focus {
    background-color: #ca2c37;
}

.contacts__btn:active {
    background-color: #ba2732;
}

                              /* POPUP'S */
@keyframes bounce {
      0% {
        transform: translateY(-2000px);
      }

      70% {
        transform: translateY(30px);
      }

      90% {
        transform: translateY(-10px);
      }

      100% {
        transform: translateY(0);
      }
}

@keyframes shake {
      0%,
      100% {
        transform: translateX(0);
      }

      10%,
      30%,
      50%,
      70%,
      90% {
        transform: translateX(-10px);
     }

      20%,
      40%,
      60%,
      80% {
        transform: translateX(10px);
     }
}

.popup__show {
    display: block;

    animation: bounce 0.6s;
}

.popup__error {
    animation: shake 0.6s;
}

.popup-email {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 34%;

    width: 620px;
    height: 423px;

    background-color: #ffffff;

    border-top: 7px solid #ee3643;

    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.popup-email__form {
    width: 460px;

    margin-left: 80px;
}

.popup-email__name {
    display: inline-block;

    margin: 0;
}

.popup-email__form input,
.popup-email__form label {
    display: block;
}

.popup-email__form label {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    margin-bottom: 13px;
}

.popup-email__name label {
    margin-top: 48px;
}

popup-email__text label {
    margin-top: 20px;
}

.popup-email__form input,
.popup-email__form textarea {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.popup-email__form input {
    width: 216px;
    height: 34px;

    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.popup-email__form textarea {
    width: 456px;
    height: 110px;

    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.popup-email__form input:hover,
.popup-email__form textarea:hover {
    border-color: #b5b5b5;
}

.popup-email__form input:focus,
.popup-email__form textarea:focus {
    border-color: #ee3643;
}

.popup-email__wrap {
    text-align: center;

    background-color: #f1f1f1;

    margin-top: 37px;
    padding-top: 37px;
    padding-bottom: 37px;
}

.popup-email__button {
    width: 460px;
    height: 38px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;

    cursor: pointer;

    background-color: #ee3643;

    border: none;
    border-radius: 3px;
}

.popup-email__button:hover,
.popup-email__button:focus {
    background-color: #ca2c37;
}

.popup-email__button:focus {
    background-color: #ba2732;
}

.popup__close {
    position: absolute;
    top: 7px;
    right: 7px;

    z-index: 3000;

    width: 22px;
    height: 22px;

    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.popup__close::before,
.popup__close::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #ee3643;
}

.popup__close::before {
    transform: rotate(45deg);
}

.popup__close::after {
    transform: rotate(-45deg);
}

.popup-map {
    position: fixed;
    z-index: 2000;
    top: 40%;
    left: 25.35%;

    width: 940px;
    height: 446px;

    background-color: #565656;
    box-shadow: 5px 5px 5px rgba(122,122,122,0.5);

    overflow: hidden;
}

.popup-map img {
    position: absolute;
    top: -57%;
    left: -15%;

    z-index: 1;
}

.popup-map iframe {
    position: relative;
    z-index: 2;

    border: none;
}


                              /* FOOTER */
.footer {
    width: 100%;

    background-color: #32425c;
}

                              /* FOOTER TOP LINE */

.footer__top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
    height: 63px;

    margin-left: auto;
    margin-right: auto;
}

.footer__logo {
    width: 220px;
    height: 63px;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.footer__logo img {
    width: 138px;
    height: 23px;

    padding-top: 20px;
    padding-right: 41px;
    padding-bottom: 20px;
    padding-left: 41px;
}

.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 547px;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 31px;
}

.footer__navigation a {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
    text-decoration: none;
}

.footer__navigation a:hover,
.footer__navigation a:focus {
    text-decoration: underline;
}

.footer__navigation a:active {
    color: #a4abb4;
    text-decoration: none;
}

                              /* FOOTER MIDDLE LINE */

.footer__mid-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;


    margin-left: auto;
    margin-right: auto;
}

.footer__contacts {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;

    margin-top: 35px;
}

.items-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 524px;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 35px;
}

.items-navigation a {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
    text-decoration: none;
}

.items-navigation a:hover,
.items-navigation a:focus {
    text-decoration: underline;
}

.items-navigation a:active {
    color: #a6906e;
    text-decoration: none;
}

                              /* FOOTER BOTTOM LINE */

.footer__bottom-wrap {
    width: 100%;
    height: 107px;

    background-color: #293449;
}

.footer__bottom-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
    height: 107px;

    margin-left: auto;
    margin-right: auto;
}

.footer__copyright {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    margin-top: 40px;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

.social__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: #212a3a;
    border-radius: 20px;
}

.social__item:hover,
.social__item:focus,
.social__item:active {
    background-color: #ee3643;
}

.footer__socials a {
    display: block;
}



.footer__feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 300px;

    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

.footer__feedback a {
    color: #ffd180;
    text-decoration: none;
}

.footer__feedback a:hover,
.footer__feedback a:focus {
    text-decoration: underline;
}

.footer__feedback a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer__feedback li:nth-child(2) {
    margin-right: 15px;
}
