.body {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


                              /* VISUALLY-HIDDEN (то, что скрыто)*/
.visually-hidden {
  display:none;
}

                              /* CENTER-CONTAINER (центровщик) */

.center-container {
    width: 940px;

    margin-left: auto;
    margin-right: auto;
}

                              /* HEADER */
.header {
    width: 100%;
    height: 320px;
    margin-bottom: 25px;
    background-color: #f4f7f9;
}

                              /* HEADER TOP LINE */
.header__top-wrap {
    width: 100%;
    height: 42px;
    background-color: #293449;
}

.header__top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 940px;
    height: 42px;
    background-color: #293449;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    width: 220px;
    height: 42px;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.header__logo img {
    width: 109px;
    height: 19px;

    margin-top: 13px;
    margin-right: 56px;;
    margin-bottom: 11px;
    margin-left: 55px;;
}

.header__logo:hover,
.header__logo:focus{
    background-color: #ca2c37;
}

.header__logo:active{
    background-color: #ba2732;
}

.header__search {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 270px;
    height: 42px;
}

.search__input {
    width: 221px;
    height: 42px;
    color: #ffffff;
    background-color: #293449;

    margin: 0;
    padding: 0;
    padding-left: 49px;
    border: none;
}

.search__button {
    background: none;
    border: none;
    padding: 0;
}

.search__icon {
    position: absolute;
    top: 12px;
    left: 17px;
    z-index: 100;

    display: block;
    width: 17px;
    height: 17px;

    cursor: pointer;

    fill: #6a7180;
}


/*цвет текста для placeholder'a в этом input*/
.search__input::-webkit-input-placeholder {
    color: #ffffff;
}

.search__input:-moz-placeholder {
    color: #ffffff;
}

.header__search:hover .search__icon {
    fill: #ffffff;
}

.search__input:hover {
    background-color: #212a3a;
}

.search__input:focus {
    color: #000000;
    background-color: #ffffff;
}

.search__input:focus ~ button .search__icon {
    fill: #ee3643;
}


.header__interface {
    display: flex;
    flex-direction: row;
}

.interface__content {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 150px;
    height: 42px;
}

.bookmark-icon {
    position: absolute;
    top: 12px;
    left: 17px;
    z-index: 100;

    display: block;

    width: 14px;
    height: 16px;

    fill: rgba(255,255,255,0.3);
}

.bookmark-btn {
    display: block;

    width: 105px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;

}

.cart-icon {
    position: absolute;
    top: 13px;
    left: 17px;
    z-index: 100;

    display: block;

    width: 15px;
    height: 15px;

    fill: rgba(255,255,255,0.3);
}

.cart-btn {
    display: block;

    width: 105px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 45px;
}

.non-empty {
    background-color: #ee3643;
}

.interface__content:hover,
.interface__content:focus {
    background-color: #212a3a;
}

.interface__content:hover svg,
.interface__content:focus svg{
    fill: #ffffff;
}

.interface__content a:active {
    color: #999ca1;
    background-color: #161d29;
}

.interface__content:active svg {
    fill: rgba(255,255,255,0.5);
}

.order-btn {
    display: block;

    width: 150px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;

    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #63a63e;
}

.order-btn:hover,
.order-btn:focus {
    background-color: #5fbb2d;
}

.order-btn:active {
    color: #a2be93;
    background-color: #518534;
}

                              /* HEADER MIDDLE LINE */

.header__mid-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    width: 940px;
    height: 158px;
    margin-left: auto;
    margin-right: auto;

    background-color: #f1f5f7;
}

.header__txt {
    font-family: 'Cuprum', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    margin: 0;
    margin-top: 46px;
    margin-left: 54px;
}

.header__contacts {
    margin-top: 46px;
}

.phone__content {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 264px;
    height: 39px;

    border: 3px solid #ffffff;
    margin-bottom: 10px;
}

.phone-icon {
    position: absolute;
    top: 10px;
    left: 13px;

    width: 19px;
    height: 19px;

    fill: #b7bfc8;
}

.header__tel {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    padding-top: 11px;
    padding-left: 71px;

    margin: 0;
}

.header__geo {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
    margin: 0;
}

.user-navigation {
    display: flex;
    flex-direction: row;

    margin-top: 46px;
}

.user-navigation__content {
    position: relative;

    display: flex;
    flex-direction: row;

    width: 121px;
    height: 45px;

    background-color: #ffffff;

    margin-right: 10px;
}

.login-icon {
    position: absolute;
    top: 14px;
    left: 14px;

    width: 20px;
    height: 17px;

    fill: #c5c5c5;
}

.user-navigation a {
    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    background-color: #ffffff;
}

.login-link {
    display: block;
    width: 73px;
    height: 21px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;

}

.registration-link {
    display: block;

    width: 125px;
    height: 21px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
}


.user-navigation a:hover,
.user-navigation a:focus {
    color: #ee3643;
}

.user-navigation a:active {
    color: #b2b2b2;
}

.user-navigation__content:hover .login-icon,
.user-navigation__content:focus .login-icon {
    fill: #32425c;
}

.user-navigation__content:active .login-icon {
    fill: #c5c5c5;
}

.account-navigation {
    margin-top: 46px;
}

.account-top-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 300px;
    height: 45px;

    background-color: #ffffff;

    margin-bottom: 10px;
}

.profile-content {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-icon {
    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 18px;

    fill: #c5c5c5;
}

.profile-link {
    display: block;

    font-family: 'Cuprum', sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;

    width: 210px;
    height: 21px;

    padding-top: 12px;
    padding-bottom: 12px;

    padding-left: 47px;

}

.profile-link:active {
    color: #b2b2b2;
}

.profile-content:hover .user-icon,
.profile-content:focus .user-icon {
    fill: #32425c;
}

.profile-content:active .user-icon {
    fill: #c5c5c5;
}

.logout-icon {
    width: 21px;
    height: 17px;

    fill: #c5c5c5;

    margin-right: 10px;
}

.exit-link:hover .logout-icon,
.exit-link:focus .logout-icon {
    fill: #32425c;
}

.exit-link:active .logout-icon {
    fill: #c5c5c5;
}

.account-bottom-line {
    margin-left: 17px;
}

.account-bottom-line a {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;
}

.account-bottom-line a:hover {
    color: #ee3643;
}

.account-bottom-line a:active {
    color: #c5cad0;
}

.order-link {
    margin-right: 32px;
}

.account-link {
    position: relative;
}

.account-link::before {
    position: absolute;
    top: 8px;
    left: -20px;

    content: "";

    width: 5px;
    height: 5px;

    border-radius: 5px;
    background-color: #32425c;
}
                              /* HEADER BOTTOM LINE */

.header__navigation {
    width: 100%;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    width: 940px;
    height: 55px;

    background-color: #32425c;
    border-bottom: 5px solid #293449;

    margin-left: auto;
    margin-right: auto;
}

.site-navigation a{
    display: block;
    height: 17px;


    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;

    padding-top: 19px;
    padding-right: 30px;
    padding-bottom: 19px;
    padding-left: 30px;

}

.site-navigation a:hover,
.site-navigation a:focus{
    background-color: #293449;
}

.site-navigation a:active{
    color: #a8abaf;
    background-color: #293449;
}

                              /* MAIN */

.breadcrumbs {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.breadcrumbs li,
.breadcrumbs a {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.breadcrumbs li {
    position: relative;

    margin-right: 42px;
}

.breadcrumbs li::after {
    position: absolute;

    top: 5px;
    right: -25px;

    content: "";

    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-right: 1px solid #c5c9d1;
    border-bottom: 1px solid #c5c9d1;

    transform: rotate(-45deg);
}

.breadcrumbs__current::after {
    display: none;
}

.container__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    height: 30px;

    background-color: #f2f6f8;

    margin-top: 25px;
    margin-bottom: 20px;

    padding-top: 30px;
    padding-bottom: 29px;
    padding-left: 30px;

}

                              /* FILTERS */

.filters {
    float: left;

    width: 220px;

    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    margin-right: 20px;
}

.filters__title {
    height: 18px;

    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    background-color: #f7f3ec;

    margin: 0;
    margin-bottom: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.filter__price {
    height: 187px;

    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.filter__price legend {
    margin-bottom: 23px;
}

.range-controls {
    position: relative;

    height: 50px;

    background-color: #f7f3ec;

    padding-top: 30px;
    padding-left: 40px;

    margin-bottom: 9px;
}

.range-controls .scale {
    height: 2px;

    background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 21px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}
                              /* SORTS */
.sorts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 700px;
    height: 18px;

    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    background-color: #f7f3ec;

    margin-bottom: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.sorts__title {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    margin: 0;
}

.sort__list {
    display: flex;
    flex-direction: row;
}

                              /* CATALOG */

.catalog {
    margin-bottom: 52px;
}

.catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 700px;
}

.catalog__item {
    position: relative;

    width: 218px;
    height: 316px;
    border: 1px solid #eaeaea;

    margin-bottom: 20px;
}

.catalog__item:hover {
    box-shadow: 5px 5px 5px rgba(122,122,122,0.5);
}

.catalog__item:hover .catalog__btns{
    display: block;
}

.flag{
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 59px;

    overflow: hidden;
    z-index: 20;
}

.catalog__btns {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 170px;
    background-color: #ffffff;
}

.buy,
.bookmark {
    display: block;
    text-align: center;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    margin-left: auto;
    margin-right: auto;
}

.buy {
    color: #eef4ec;

    width: 135px;
    height: 18px;

    background-color: #63a63e;
    border-bottom: 3px solid #367315;
    border-radius: 3px;

    margin-top: 45px;
    padding-top: 7px;
    padding-bottom: 7px;

}

.buy:hover,
.buy:focus {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
    border-bottom-color: #518534;
}

.bookmark {
    color: #32425c;

    width: 129px;
    height: 18px;

    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 3px;

    margin-top: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.bookmark:hover,
.bookmark:focus {
    border-color: #32425c;
}

.bookmark:active {
    color: #d0d2d6;
    border-color: #c1c6ce;
}

.item__img {
    width: 218px;
    height: 170px;
}

.item__img img {
    max-width: 100%;
}


.catalog__item a {
    text-decoration: none;
}

.item__title {
    font: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;

    margin: 0;
}

.item__discount {
    font: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: line-through;
    color: #a9a9a9;

    min-height: 18px;

    margin-top: 18px;
    margin-bottom: 13px;
}

.item__price {
    position: relative;

    font: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;;
    color: #ffffff;

    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;

    background-color: #ee3643;
    border-radius: 3px;
}

.item__price::after {
    content: "";

    position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    border: 20px solid white;
    border-left-color: #ee3643;
}

                              /* PAGINATION */
.pagination {
    margin-left: 240px;
    margin-bottom: 60px;
}

.pagination__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;
      margin: 0;

    list-style: none;
}

.pagination__item {
    margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination__item a {
    display: block;

    width: 36px;
    height: 18px;

    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #000000;

    border: 1px solid #e5e5e5;
    border-radius: 3px;

    padding-top: 9px;
    padding-bottom: 9px;
}

.next-page a{
    width: 138px;
}

.pagination__item a:hover,
.pagination__item a:focus {
    border-color: #bdc6ca;
}

.pagination__item a:active {
    border-color: #ee3643;
}

.pagination__item-current {
    background-color: #ee3643;
    border-color: #ee3643;
    border-radius: 3px;
}

.pagination__item-current a {
    color: #fef5f6;
}

                              /* ABOUT CONTAINER */
.about-container {
    width: 100%;
    background-color: #f2f6f8;
}

.about-container__title {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    margin: 0;
    padding-top: 68px;
    padding-bottom: 39px;
}

.about-container__txt {
    font: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;

    margin: 0;
    padding-bottom: 75px;
}

                              /* FOOTER */
.footer {
    width: 100%;

    background-color: #32425c;
}

                              /* FOOTER TOP LINE */

.footer__top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
    height: 63px;

    margin-left: auto;
    margin-right: auto;
}

.footer__logo {
    width: 220px;
    height: 63px;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.footer__logo img {
    width: 138px;
    height: 23px;

    padding-top: 20px;
    padding-right: 41px;
    padding-bottom: 20px;
    padding-left: 41px;
}

.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 547px;

    margin-top: 31px;
}

.footer__navigation a {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
    text-decoration: none;
}

.footer__navigation a:hover,
.footer__navigation a:focus {
    text-decoration: underline;
}

.footer__navigation a:active {
    color: #a4abb4;
    text-decoration: none;
}

                              /* FOOTER MIDDLE LINE */

.footer__mid-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;


    margin-left: auto;
    margin-right: auto;
}

.footer__contacts {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;

    margin-top: 35px;
}

.items-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 524px;

    margin-top: 35px;
}

.items-navigation a {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
    text-decoration: none;
}

.items-navigation a:hover,
.items-navigation a:focus {
    text-decoration: underline;
}

.items-navigation a:active {
    color: #a6906e;
    text-decoration: none;
}

                              /* FOOTER BOTTOM LINE */

.footer__bottom-wrap {
    width: 100%;
    height: 107px;

    background-color: #293449;
}

.footer__bottom-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
    height: 107px;

    margin-left: auto;
    margin-right: auto;
}

.footer__copyright {
    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    margin-top: 40px;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;

    margin-top: 40px;
}

.social__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: #212a3a;
    border-radius: 20px;
}

.social__item:hover,
.social__item:focus,
.social__item:active {
    background-color: #ee3643;
}

.footer__socials a {
    display: block;
}



.footer__feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 300px;

    font-family: 'Cuprum', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    margin-top: 40px;
}

.footer__feedback a {
    color: #ffd180;
    text-decoration: none;
}

.footer__feedback a:hover,
.footer__feedback a:focus {
    text-decoration: underline;
}

.footer__feedback a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer__feedback li:nth-child(2) {
    margin-right: 15px;
}

