.body {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


                              /* VISUALLY-HIDDEN (то, что скрыто)*/
.visually-hidden {
  display:none;
}

                              /* CENTER-CONTAINER (центровщик) */

.center-container {
    width: 940px;

    margin-left: auto;
    margin-right: auto;
}

                              /* SECTION-HEAD (заголовки разделов)*/
.section__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 940px;
    height: 89px;

    background-color: #f9f5f0;

    margin-top: 21px;
    margin-bottom: 20px;
}

.section__head-title {
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    margin-left: 30px;
}

.section__head-btn {
    display: block;

    width: 253px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 3px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 24px;
}

.section__head-btn:hover,
.section__head-btn:focus {
    background-color: #ca2c37;
}

.section__head-btn:active {
    background-color: #ba2732;
}


                              /* HEADER */
.header {
    width: 100%;
    height: 320px;
    margin-bottom: 59px;
    background-color: #f4f7f9;
}

                              /* HEADER TOP LINE */
.header__top-wrap {
    width: 100%;
    height: 42px;
    background-color: #293449;
}

.header__top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
    height: 42px;
    background-color: #293449;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    width: 220px;
    height: 42px;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.header__logo img {
    width: 109px;
    height: 19px;

    margin-top: 13px;
    margin-right: 56px;;
    margin-bottom: 11px;
    margin-left: 55px;;
}

.header__logo:hover,
.header__logo:focus{
    background-color: #ca2c37;
}

.header__logo:active{
    background-color: #ba2732;
}

.header__search input {
    width: 221px;
    height: 42px;
    color: #ffffff;
    background-color: #293449;

    margin: 0;
    padding: 0;
    padding-left: 49px;
    border: none;
}

.header__search input:hover,
.header__search input:focus {
    background-color: #212a3a;
}

.header__search input:focus {
    color: #000000;
    background-color: #ffffff;
}

.header__interface {
    display: flex;
    flex-direction: row;
}

.header__interface a {
    display: block;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

    padding-top: 12px;
    padding-right: 26px;
    padding-bottom: 12px;
    padding-left: 26px;
}

.header__interface .a--green {
    background-color: #63a63e;
}

.header__interface a:hover,
.header__interface a:focus {
    background-color: #212a3a;
}

.header__interface a:active {
    color: #999ca1;
    background-color: #161d29;
}

.header__interface .a--green:hover,
.header__interface .a--green:focus {
    background-color: #5fbb2d;
}

.header__interface .a--green:active {
    color: #a2be93;
    background-color: #518534;
}

                              /* HEADER MIDDLE LINE */

.header__mid-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 940px;
    height: 158px;
    margin-left: auto;
    margin-right: auto;

    background-color: #f1f5f7;
}

.header__txt {
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    margin: 0;
    margin-left: 54px;
}

.header__tel {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    width: 193px;
    height: 21px;

    border: 3px solid #ffffff;

    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 71px;

    margin: 0;
    margin-bottom: 10px;
}

.header__geo {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin: 0;
}

.user-navigation {
    display: flex;
    flex-direction: row;
}

.user-navigation a {
    display: block;

    font-size: 21px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    background-color: #ffffff;
}

.login-link {
    width: 73px;
    height: 21px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;

    margin-right: 10px;
}

.registration-link {
    width: 125px;
    height: 21px;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
}


.user-navigation a:hover,
.user-navigation a:focus{
    color: #ee3643;
}

.user-navigation a:active {
    color: #b2b2b2;
}

                              /* HEADER BOTTOM LINE */

.header__navigation {
    width: 100%;
}

.site-navigation {
    display: flex;
    flex-direction: row;

    width: 940px;
    height: 55px;

    background-color: #32425c;
    border-bottom: 5px solid #293449;

    margin-left: auto;
    margin-right: auto;
}

.site-navigation a{
    display: block;


    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    text-decoration: none;

    padding-top: 19px;
    padding-right: 30px;
    padding-bottom: 19px;
    padding-left: 30px;
}

.site-navigation a:hover,
.site-navigation a:focus{
    background-color: #293449;
}

.site-navigation a:active{
    color: #a8abaf;
    background-color: #293449;
}


             /* ==================== INDEX ==================== */

                              /* MENU */
.container__menu {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.container__top-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu {
    position: relative;

    width: 300px;
    height: 123px;

    background-color: #ffbf47;

    margin-bottom: 20px;
}

.menu__flag {
    position: absolute;
    top: 0;
    right: 0;

    width: 60px;
    height: 59px;

    overflow: hidden;
    z-index: 20;
}

.menu__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;

    margin:0;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 22px;
}

.menu__content {
    display: flex;
    flex-direction: row;
}

.menu__btn {
    display: block;

    width: 135px;
    height: 18px;

    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: rgba(0,0,0,0.1);
    border-radius: 3px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
}

.menu__btn:hover,
.menu__btn:focus {
    background-color: rgba(0,0,0,0.2);
}

.menu__btn:active {
    background-color: rgba(0,0,0,0.3);
}

.menu__content img {
    position: absolute;
    top: 31px;
    right: 23px;
}

.m--blue {
    background-color: #3bbce3;
}

.m--purple {
    background-color: #dc91d8;
}

.m--green {
    background-color: #8ed78f;
}

.container__bottom-line {
    display: flex;
    flex-direction: column;
}

.slider {
    position: relative;

    width: 620px;
    height: 266px;

    float: left;
    margin-right: 20px;
}

.slide__txt {
    position: absolute;
    top: 0;
    left: 0;

    width: 620px;
    height: 105px;

    background-color: rgba(0,0,0,0.1);
}

.slide__title {
    font-family: 'Cuprum', sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    margin-top: 27px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.slide__subtitle {
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;

    margin: 0;
    margin-left: 25px;
}

.slide__btn {
    position: absolute;
    left: 25px;
    bottom: 22px;

    display: block;
    width: 195px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 3px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.slide__btn:hover,
.slide__btn:focus {
    background-color: #ca2c37;
}

..slide__btn:active {
    background-color: #ba2732;
}

.slider__arrow-left {
    position: absolute;
    top: 110px;
    left: 25px;
}

.slider__arrow-right {
    position: absolute;
    top: 110px;
    right: 25px;
}



                              /* POPULAR ITEMS */
.popular-items__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-items__item {
    position: relative;

    width: 218px;
    height: 316px;
    border: 1px solid #eaeaea;
}

.popular-items__item:hover {
    box-shadow: 5px 5px 5px rgba(122,122,122,0.5);
}

.popular-items__item:hover .popular-items__btns {
    display: block;
}

.flag{
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 59px;

    overflow: hidden;
    z-index: 20;
}

.popular-items__btns {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 170px;
    background-color: #ffffff;
}

.buy,
.bookmark {
    display: block;
    text-align: center;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    margin-left: auto;
    margin-right: auto;
}

.buy {
    color: #eef4ec;

    width: 135px;
    height: 18px;

    background-color: #63a63e;
    border-bottom: 3px solid #367315;
    border-radius: 3px;

    margin-top: 45px;
    padding-top: 7px;
    padding-bottom: 7px;

}

.buy:hover,
.buy:focus {
    background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
    border-bottom-color: #518534;
}

.bookmark {
    color: #32425c;

    width: 129px;
    height: 18px;

    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 3px;

    margin-top: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.bookmark:hover,
.bookmark:focus {
    border-color: #32425c;
}

.bookmark:active {
    color: #d0d2d6;
    border-color: #c1c6ce;
}

.popular-items__img {
    width: 218px;
    height: 170px;
}

.popular-items__img img {
    max-width: 100%;
}


.popular-items__item a {
    text-decoration: none;
}

.popular-items__title {
    font: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;

    margin: 0;
}

.popular-items__discount {
    font: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: line-through;
    color: #a9a9a9;

    min-height: 18px;

    margin-top: 18px;
    margin-bottom: 13px;
}

.popular-items__price {
    position: relative;

    font: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;;
    color: #ffffff;

    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;

    background-color: #ee3643;
    border-radius: 3px;
}

.popular-items__price::after {
    content: "";

    position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    border: 20px solid white;
    border-left-color: #ee3643;
}



                              /* POPULAR FABRICATORS */
.popular-fabricators__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-fabricators__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 218px;
    height: 143px;

    text-align: center;

    border: 1px solid #ebebeb;

    margin-bottom: 20px;
}

.popular-fabricators__logo {
    display: block;

    width: 218px;
    height: 143px;
    line-height: 143px;
    text-align: center;
}

.popular-fabricators__logo img {
   vertical-align: middle;
}


.popular-fabricators__item:hover,
.popular-fabricators__item:focus {
    box-shadow: 5px 5px 5px rgba(122,122,122,0.5);
}

.popular-fabricators__item:active {
    background-color: rgba(255,255,255,0.5);
}

                              /* SERVICES */
.services {
    width: 100%;
    height: 522px;
    background-color: #f4f8f9;
    margin-top: 65px;
}

.services__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    padding-top: 68px;
    margin-bottom: 35px;
}

.services__txt {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    margin: 0;
    margin-bottom: 75px;
}

.services__menu {
    position: relative;
}

.services__btn {
    width: 240px;
    height: 60px;

    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;

    background-color: #32425c;

    border: 0;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.services__btn:hover,
.services__btn:focus {
    color: #ffffff;
    background-color: #293449;
}

.services__btn:active {
    color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}

.services__menu > .services__item:hover  .visibility{
    display: flex;
}

.item-description {
    position: absolute;
    top: 0;
    left: 240px;
    z-index: 10px;

    width: 650px;
    height: 320px;

    padding-left: 50px;

}

.visibility {
    display: none;
}

.item-description__title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;

    margin: 0;
    margin-bottom: 36px;
}

.item-description__txt {
    width: 380px;

    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    margin: 0;
}

.item-description img{
    float: right;

    width: 468px;
    height: 261px;
}

.item-description__btn {
    display: block;

    width: 195px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 3px;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}

.item-description__btn:hover,
.item-description__btn:focus {
    background-color: #ca2c37;
}

.item-description__btn:active {
    background-color: #ba2732;
}





                              /* INFO & CONTACTS */
.main__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #ffffff;

    margin-bottom: 86px;
}


.info__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.info__txt {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.info__transport-companies a {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.info__btn {
    display: block;
    width: 220px;
    height: 18px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #ee3643;
    border-radius: 3px;
}

.info__btn:hover,
.info__btn:focus {
    background-color: #ca2c37;
}

.info__btn:active {
    background-color: #ba2732;
}

.info__transport-companies li {
    margin-bottom: 30px;
}

.transport-companies__items img {
    vertical-align: middle;

    margin-right: 11px;
}

.contacts {
    width: 300px;
}

.contacts__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.contacts__txt {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.contacts img {
    margin-bottom: 40px;
}

.contacts__btn {
    width: 300px;
    height: 38px;

    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.contacts__btn:hover,
.contacts__btn:focus {
    background-color: #ca2c37;
}

.contacts__btn:active {
    background-color: #ba2732;
}

                              /* FOOTER */
.footer {
    width: 100%;

    background-color: #32425c;
}

                              /* FOOTER TOP LINE */

.footer__top-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
    height: 63px;

    margin-left: auto;
    margin-right: auto;
}

.footer__logo {
    width: 220px;
    height: 63px;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}

.footer__logo img {
    width: 138px;
    height: 23px;

    padding-top: 20px;
    padding-right: 41px;
    padding-bottom: 20px;
    padding-left: 41px;
}

.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 547px;

    margin-top: 31px;
}

.footer__navigation a {
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
    text-decoration: none;
}

.footer__navigation a:hover,
.footer__navigation a:focus {
    text-decoration: underline;
}

.footer__navigation a:active {
    color: #a4abb4;
    text-decoration: none;
}

                              /* FOOTER MIDDLE LINE */

.footer__mid-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;


    margin-left: auto;
    margin-right: auto;
}

.footer__contacts {
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;

    margin-top: 35px;
}

.items-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 524px;

    margin-top: 35px;
}

.items-navigation a {
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
    text-decoration: none;
}

.items-navigation a:hover,
.items-navigation a:focus {
    text-decoration: underline;
}

.items-navigation a:active {
    color: #a6906e;
    text-decoration: none;
}

                              /* FOOTER BOTTOM LINE */

.footer__bottom-wrap {
    width: 100%;
    height: 107px;

    background-color: #293449;
}

.footer__bottom-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
    height: 107px;

    margin-left: auto;
    margin-right: auto;
}

.footer__copyright {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    margin-top: 40px;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;

    margin-top: 40px;
}

.social__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: #212a3a;
    border-radius: 20px;
}

.social__item:hover,
.social__item:focus,
.social__item:active {
    background-color: #ee3643;
}

.footer__socials a {
    display: block;
}



.footer__feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 300px;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    margin-top: 40px;
}

.footer__feedback a {
    color: #ffd180;
    text-decoration: none;
}

.footer__feedback a:hover,
.footer__feedback a:focus {
    text-decoration: underline;
}

.footer__feedback a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer__feedback li:nth-child(2) {
    margin-right: 15px;
}


/* ==================== CATALOG ==================== */

.container__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    height: 89px;

    background-color: #f2f6f8;

}
